$clr-navbar: hsl(0, 0%, 20%);
$clr-navbar-text: hsl(45, 80%, 50%);
$clr-navbar-background-hover: hsl(33, 93%, 54%);
$clr-navbar-text-hover: hsl(0, 0%, 20%);
$clr-navbar-border: hsl(0, 100%, 100%);
$clr-navbar-active: hsl(45, 80%, 50%);