footer {
  width: 90vw;
  margin-left: 215px;
}

.navbar {
  width: 210px;
  height: 100vh;
  background: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
}
.navbar .logo {
  border-bottom: 1px solid white;
  width: 100%;
  height: 10vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .logo img {
  transform: scale(0.25);
}
.navbar .links {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.navbar .links a {
  height: 50px;
  width: 70%;
  display: flex;
  align-items: center;
  color: #e6b31a;
  text-decoration: none;
  justify-content: space-between;
  padding: 0 15%;
  font-size: 1.2rem;
  position: relative;
}
.navbar .links a svg {
  vertical-align: -10%;
  transform: scale(1.5);
}
.navbar .links a .text {
  text-align: left;
  width: 65%;
}
.navbar .links a:hover {
  background: #f7951d;
  color: #333333;
}
.navbar .links a.active:hover::before {
  background: #333333;
}
.navbar .links a.active::before {
  content: "";
  width: 7px;
  height: 80%;
  position: absolute;
  left: 0;
  background: #e6b31a;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.navbar .login {
  position: absolute;
  bottom: 20px;
  width: 100%;
}
.navbar .login .user {
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: space-around;
}
.navbar .login .user img {
  border: 1px solid white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.navbar .login .user .username {
  color: #e6b31a;
  text-transform: capitalize;
}
.navbar .login .link {
  display: flex;
  justify-content: space-around;
}
.navbar .login .link p {
  text-decoration: none;
  color: #e6b31a;
}
.navbar .login .link p:hover {
  cursor: pointer;
  color: #f7951d;
  transform: scale(1.2);
}
.navbar .login .link p svg {
  vertical-align: text-bottom;
}

.loginMenu {
  color: #e6e6e6;
  width: 38vw;
  height: 90vh;
  position: absolute;
  left: 36vw;
  top: 5%;
  z-index: 1000;
  background: rgba(4, 20, 62, 0.9);
}
.loginMenu .input {
  width: 70%;
  margin: 0 auto;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.loginMenu .input .username {
  display: flex;
  width: 100%;
  height: 35%;
  border: 1px solid #f7951d;
}
.loginMenu .input .username input {
  padding-left: 5%;
  background: none;
  outline: none;
  border-left: 1px solid #f7951d;
  border-right: none;
  border-top: none;
  border-bottom: none;
  color: #f7951d;
  height: 100%;
  width: 100%;
  font-size: 1.4rem;
}
.loginMenu .input .username .icon {
  height: 100%;
  width: 20%;
  transform: scale(0.7);
}
.loginMenu .input .password {
  display: flex;
  width: 100%;
  height: 35%;
  border: 1px solid #f7951d;
}
.loginMenu .input .password input {
  padding-left: 5%;
  background: none;
  outline: none;
  border-left: 1px solid #f7951d;
  border-right: none;
  border-top: none;
  border-bottom: none;
  color: #f7951d;
  height: 100%;
  width: 100%;
  font-size: 1.4rem;
}
.loginMenu .input .password .icon {
  height: 100%;
  width: 20%;
  transform: scale(0.7);
}
.loginMenu .login {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
.loginMenu .login .submit {
  padding: 0;
  width: 70%;
  height: 100%;
  border: 1px solid #f7951d;
  outline: none;
  background: none;
  font-size: 1.7rem;
  color: #f7951d;
}
.loginMenu .exit {
  position: absolute;
  top: 3%;
  right: 5%;
  font-size: 2rem;
}
.loginMenu .exit:hover {
  color: #cc3333;
}
.loginMenu .title {
  text-align: center;
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  .loginMenu {
    color: #e6e6e6;
    width: 65vw;
    height: 90vh;
    border-radius: 50px;
    position: absolute;
    left: 20vw;
    top: 5%;
    z-index: 1000;
    background: rgba(4, 20, 62, 0.9);
  }
  .loginMenu .invDiv {
    position: absolute;
    top: -5.5%;
    left: -60%;
    width: 100vw;
    height: 100vh;
    content: "";
  }
  .loginMenu .title {
    text-align: center;
    width: 100%;
  }
}
.about {
  width: 90vw;
  margin-left: 215px;
}

.events {
  width: 90vw;
  margin-left: 215px;
}

.contact {
  width: 90vw;
  margin-left: 215px;
}

.donate {
  width: 90vw;
  margin-left: 215px;
}

.error {
  width: 90vw;
  margin-left: 2195px;
}

.home {
  width: 90vw;
  margin-left: 215px;
}
.home .title {
  text-align: center;
}
.home .pets {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}
.home .pets .pet {
  width: 30%;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 10%;
}
.home .pets img {
  width: 75%;
  height: 55%;
  object-fit: cover;
}

.pets {
  width: 90vw;
  margin-left: 215px;
}

.students {
  width: 90vw;
  margin-left: 215px;
}

.admin {
  width: 90vw;
  margin-left: 215px;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}