footer {
  width: 90vw;
  margin-left: 195px;
}

.navbar {
  width: 190px;
  height: 100vh;
  background: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
}
.navbar .logo {
  border-bottom: 1px solid white;
  width: 100%;
  height: 10vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .logo img {
  width: 90%;
}
.navbar .links {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.navbar .links .activeMark {
  position: absolute;
  width: 5px;
  height: 4vh;
  background: #e6b31a;
  margin: 0;
}
.navbar .links .activeMark.H {
  top: 10.1vh;
}
.navbar .links .activeMark.E {
  top: 14.1vh;
}
.navbar .links .activeMark.P {
  top: 18.1vh;
}
.navbar .links .activeMark.S {
  top: 22.1vh;
}
.navbar .links .activeMark.A {
  top: 26.1vh;
}
.navbar .links .activeMark.C {
  top: 30.1vh;
}
.navbar .links .activeMark.D {
  top: 34.1vh;
}
.navbar .links a {
  height: 4vh;
  display: flex;
  align-items: center;
  text-align: left;
  color: #e6b31a;
  text-decoration: none;
  justify-content: space-around;
  font-size: 1.2rem;
}
.navbar .links a:hover {
  background: #f7951d;
  color: #333333;
}

.about {
  width: 90vw;
  margin-left: 195px;
}

.events {
  width: 90vw;
  margin-left: 195px;
}

.contact {
  width: 90vw;
  margin-left: 195px;
}

.donate {
  width: 90vw;
  margin-left: 195px;
}

.error {
  width: 90vw;
  margin-left: 195px;
}

.home {
  width: 90vw;
  margin-left: 195px;
}

.pets {
  width: 90vw;
  margin-left: 195px;
}

.students {
  width: 90vw;
  margin-left: 195px;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}